{{yield}}

<div id="calendar-date-axis">
<svg height="30" class="calendar-width">
  {{#each days as |day index|}}
    <line x1="{{add (multiply index WIDTH) 0.5}}" y1="15" x2="{{add (multiply index WIDTH) 0.5}}" y2="30"  />
    <text x="{{add (multiply index WIDTH) 5}}" y="25">{{month-day day}}</text>
  {{/each}}

  <line x1="{{todayX}}" y1="0" x2="{{todayX}}" y2="30" style="stroke:rgb(255,0,0)" />
</svg>
</div>
