{{yield}}

<div id="{{id}}" class="calendar-width calendar-year-row">
  <div>
    {{#each mediaList as |media index|}}
      <div class="calendar-media-item" style="{{media.leftCss}}">
        {{#if media.notFound}}
          {{#if media.isFuture}}
            <div class="media-not-found future"/>
          {{else}}
            <div class="media-not-found"/>
          {{/if}}
        {{else}}
          {{media-gallery-item media=media click=(action 'mediaClicked' media)}}
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>
