{{yield}}

{{#if activeMedia}}
<div class="fullSize fixedPosition fullscreenMedia {{if activeMedia.isVideo "isVideo"}}" onclick={{action 'toggleInteractive'}}>

  {{#if activeMedia.isVideo}}
    {{fullsize-video media=activeMedia}}
  {{else}}
    {{fullsize-image media=activeMedia}}
  {{/if}}


  <div class="move_left"><a onclick={{action 'moveLeft'}}><i class="fa fa-angle-left" aria-hidden="true"></i></a></div>
  <div class="move_right"><a onclick={{action 'moveRight'}}><i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
  <div id="interactiveOverlay" >
    <button class="float_right close_button" {{action 'resetActiveMedia'}}>Close</button>
    {{#if activeMedia.isImage}}
      <a href="{{activeMedia.downloadUrl}}" class="download_link" target="_blank">Download</a>
    {{/if}}
    {{activeMedia.img}}
    {{fullscreen-toggle class="float_left"}}
  </div>
</div>
{{/if}}

<p style="position: fixed;
    bottom: 0;
    color: white;
    right: 0;border: 3px solid #73AD21"
    class="hidden">
mcount: {{mediaCount}}
m2count: {{mediaList.length}}
</p>

{{#each mediaList as |media|}}{{media-gallery-item media=media click=(action 'mediaClicked' media)}}{{/each}}

This is the simple gallery
