{{yield}}

{{fullsize-media activeMedia=activeMedia}}

<p style="position: fixed;
    bottom: 0;
    color: white;
    right: 0;border: 3px solid #73AD21"
    class="hidden">
mcount: {{mediaCount}}
m2count: {{mediaList.length}}
</p>

{{#each mediaList as |media|}}{{media-gallery-item media=media click=(action 'mediaClicked' media)}}{{/each}}
Shatabang Simple Gallery
