{{outlet}}


TODO: Are you an administrator?
<hr/>
<a onclick={{action 'clearImageFinger'}} class="zoomBtn">
  <span class=" btn btn-primary btn-sm ">Clear image finger cache</span>
</a> {{clearStatus}}
<hr/>
<a onclick={{action 'rebuildImageFinger'}} class="zoomBtn">
  <span class=" btn btn-primary btn-sm ">Rebuild Image finger</span>
</a> {{rebuildStatus}}

<hr/>
<h3>Versions:</h3>
<div id="version">Client: v{{app-version}}</div>
<div id="version">Server: {{server-version}}</div>
